/* Resetear estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
h1 {
  font-size: clamp(15px, 4vw, 25px); /* Tamaño mínimo 20px, adaptable según el viewport */
  margin-bottom: 20px;
}

/* Estilos del carrusel */
.swiper-container {
  width: 100%;
  max-width: 1000px; /* Más ancho */
  height: 300px; /* Más alto */
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

/* Ajustar los slides para que sean más grandes */
.swiper-slide {
  flex: 0 0 25%; /* Ajusta el ancho de cada slide */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #cfc3c3;
  border-radius: 4px;
  overflow: hidden;
}

/* Ajustar las imágenes dentro del slide */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Evita que se recorte */
  border-radius: 8px;
}

/* Estilos de los botones de navegación del carrusel */
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #007BFF;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* Quitar la barra de desplazamiento */
.swiper-scrollbar {
  display: none;
}

/* Estilos de la barra de desplazamiento del carrusel */
/* .swiper-scrollbar {
  width: 4px;
  background-color: #007BFF;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
} */

/* Estilos del carrito de compras */
.carrito {
  background-color: #ffffffd9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
}


.carrito h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos de los productos */
.productos-container, .carrito-agregados {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas por defecto */
}

/* Para tablets (máx. 1024px) -> 2 columnas */
@media (max-width: 768px) {
  .productos-container, .carrito-agregados {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Para celulares (máx. 600px) -> 1 columna */
@media (max-width: 600px) {
  .productos-container, .carrito-agregados {
      grid-template-columns: repeat(1, 1fr);
  }
}

.tarjeta {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    /* margin: 10px; */

    box-sizing: border-box;
}

.container-img {
  width: 100%;
  height: 150px; /* Reduce el tamaño de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantiene la imagen completa dentro del contenedor */
  border-radius: 8px;
}

.container-precio h2 {
    font-size: 16px; /* Tamaño de fuente más pequeño */
    color: #007BFF;
    margin-top: 8px; /* Espacio más pequeño en la parte superior */
}

h3 {
    font-size: clamp(14px, 2vw, 16px); 
    margin-top: 8px; /* Espacio más pequeño en la parte superior */
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Limitar a 2 líneas si el texto es largo */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Para mostrar "..." si el texto es muy largo */
    min-height: 30px; /* Altura mínima para los títulos */
    align-content: center;
}

h6, h5 {
    font-size: clamp(10px, 2vw, 12px); 
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* Limitar a 2 líneas si el texto es largo */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Para mostrar "..." si el texto es muy largo */
    min-height: 20px; /* Altura mínima para los títulos */
    align-content: center;
}

.container-info {
    margin-top: 8px; /* Espacio más pequeño en la parte superior */
}

.container-categoria {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    color: #777;
    margin-bottom: 4px; /* Espacio más pequeño en la parte inferior */
}

/* Estilos del formulario de filtrar por categoría */
form {
  margin-top: 20px;
}

#select-categoria {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos de los botones Agregar al Carrito */
.form-agregarCarrito {
  text-align: center;
  margin-top: 10px;
}

.agregarCarrito {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos de los botones Eliminar del Carrito */
.form-sacarCarrito {
  text-align: center;
  margin-top: 10px;
}

/* Toastify Styles */
.Toastify__toast-container {
  top: 20px;
  right: 20px;
}

.Toastify__toast--info {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

.Toastify__toast--error {
  background: linear-gradient(to right, #fe5656, #8a0211);
}