/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Estilos de las tarjetas de productos */
.tarjeta {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.33% - 20px); /* Para asegurar que haya espacio entre las tarjetas */
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.tarjeta h2 {
    font-size: 16px;
    margin: 0;
}

.container-img img {
    max-width: 100%;
    height: auto;
}

.container-precio h3 {
    color: #007bff;
    margin: 8px 0;
    font-weight: bold;
}

.container-categoria,
.container-marca {
    font-size: 14px;
    margin: 0;
    color: #777;
}

.container-info h6 {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para los productos disponibles */
#productos-container .tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#productos-container .tarjeta:hover {
    transform: translateY(-2px);
}

/* Estilo para los productos en el carrito */
#carrito-agregados .tarjeta {
    border: 1px solid #333;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#carrito-agregados .tarjeta h2 {
    font-size: 16px;
    margin: 0;
}

#carrito-agregados .container-img img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

#carrito-agregados .container-precio h3 {
    font-size: 14px;
    margin: 0;
}

#carrito-agregados .container-info h5, #carrito-agregados .container-info h6 {
    font-size: 12px;
    margin: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .tarjeta {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .tarjeta {
        width: calc(100% - 20px);
    }
}